USE [master]
GO
CREATE DATABASE [ClerkData]


GO
USE [ClerkData]
GO
/****** Object:  Table [dbo].[Committee]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Committee](
	[CommitteeID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Room] [nvarchar](50) NULL,
	[HeaderText] [nvarchar](500) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[ZipSuffix] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[BuildingCode] [nvarchar](50) NULL,
	[ParentCommitteeID] [int] NULL,
 CONSTRAINT [PK_Committee] PRIMARY KEY CLUSTERED 
(
	[CommitteeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommitteeAssignment]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitteeAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[CommitteeID] [int] NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_CommitteeAssignment] PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommitteeRatio]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitteeRatio](
	[CommitteeRatioID] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeID] [int] NOT NULL,
	[Majority] [nvarchar](50) NULL,
 CONSTRAINT [PK_CommitteeRatio] PRIMARY KEY CLUSTERED 
(
	[CommitteeRatioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Suffix] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[BioguideID] [nvarchar](50) NULL,
	[Party] [nvarchar](10) NULL,
	[Caucus] [nvarchar](10) NULL,
	[TownName] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[ElectedDate] [datetime] NULL,
	[SwornDate] [datetime] NULL,
	[StateID] [int] NULL,
	[OfficeID] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Office]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[OfficeID] [int] IDENTITY(1,1) NOT NULL,
	[Building] [nvarchar](50) NULL,
	[Room] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[ZipSuffix] [nvarchar](50) NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Committee] ON 

GO
INSERT [dbo].[Committee] ([CommitteeID], [Code], [Name], [Type], [Room], [HeaderText], [ZipCode], [ZipSuffix], [Phone], [BuildingCode], [ParentCommitteeID]) VALUES (1, N'AG00', N'Committee on Agriculture', N'standing', N'1301', N'The chairman and ranking minority member are ex officio members of all subcommittees.', N'20515', N'6001', N'225-2171', N'LHOB', NULL)
GO
INSERT [dbo].[Committee] ([CommitteeID], [Code], [Name], [Type], [Room], [HeaderText], [ZipCode], [ZipSuffix], [Phone], [BuildingCode], [ParentCommitteeID]) VALUES (2, N'AP00', N'Committee on Appropriations', N'standing', N'H307', N'The chair and ranking minority member are authorized to sit as members of all subcommittees.', N'20515', N'6015', N'225-2771', N'C', NULL)
GO
INSERT [dbo].[Committee] ([CommitteeID], [Code], [Name], [Type], [Room], [HeaderText], [ZipCode], [ZipSuffix], [Phone], [BuildingCode], [ParentCommitteeID]) VALUES (3, N'AS00', N'Committee on Armed Services', N'standing', N'2216', NULL, N'20515', N'6035', N'225-4151', N'RHOB', NULL)
GO
SET IDENTITY_INSERT [dbo].[Committee] OFF
GO
SET IDENTITY_INSERT [dbo].[CommitteeAssignment] ON 

GO
INSERT [dbo].[CommitteeAssignment] ([AssignmentID], [MemberID], [CommitteeID], [Rank]) VALUES (2, 2, 14, 2)
GO
INSERT [dbo].[CommitteeAssignment] ([AssignmentID], [MemberID], [CommitteeID], [Rank]) VALUES (3, 2, 19, 2)
GO
INSERT [dbo].[CommitteeAssignment] ([AssignmentID], [MemberID], [CommitteeID], [Rank]) VALUES (4, 3, 3, 26)
GO
SET IDENTITY_INSERT [dbo].[CommitteeAssignment] OFF
GO
SET IDENTITY_INSERT [dbo].[CommitteeRatio] ON 

GO
INSERT [dbo].[CommitteeRatio] ([CommitteeRatioID], [CommitteeID], [Majority]) VALUES (1, 1, N'27')
GO
INSERT [dbo].[CommitteeRatio] ([CommitteeRatioID], [CommitteeID], [Majority]) VALUES (2, 2, N'33')
GO
INSERT [dbo].[CommitteeRatio] ([CommitteeRatioID], [CommitteeID], [Majority]) VALUES (3, 3, N'31')
GO
SET IDENTITY_INSERT [dbo].[CommitteeRatio] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

GO
INSERT [dbo].[Member] ([MemberID], [Suffix], [FirstName], [MiddleName], [LastName], [BioguideID], [Party], [Caucus], [TownName], [District], [Phone], [ElectedDate], [SwornDate], [StateID], [OfficeID]) VALUES (2, N'', N'Don', N'', N'Young', N'Y000033', N'R', N'R', N'Fort Yukon', N'At Large', N'(202) 225-5765', CAST(N'2020-11-03 00:00:00.000' AS DateTime), CAST(N'2021-01-03 00:00:00.000' AS DateTime), 1, 793)
GO
INSERT [dbo].[Member] ([MemberID], [Suffix], [FirstName], [MiddleName], [LastName], [BioguideID], [Party], [Caucus], [TownName], [District], [Phone], [ElectedDate], [SwornDate], [StateID], [OfficeID]) VALUES (3, N'', N'Jerry', N'L.', N'Carl', N'C001054', N'R', N'R', N'Mobile', N'1st', N'(202) 225-4931', CAST(N'2020-11-03 00:00:00.000' AS DateTime), CAST(N'2021-01-03 00:00:00.000' AS DateTime), 3, 616)
GO
INSERT [dbo].[Member] ([MemberID], [Suffix], [FirstName], [MiddleName], [LastName], [BioguideID], [Party], [Caucus], [TownName], [District], [Phone], [ElectedDate], [SwornDate], [StateID], [OfficeID]) VALUES (4, N'', N'Barry', N'', N'Moore', N'M001212', N'R', N'R', N'Enterprise', N'2nd', N'(202) 225-2901', CAST(N'2020-11-03 00:00:00.000' AS DateTime), CAST(N'2021-01-03 00:00:00.000' AS DateTime), 3, 638)
GO
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

GO
INSERT [dbo].[Office] ([OfficeID], [Building], [Room], [ZipCode], [ZipSuffix]) VALUES (443, N'CHOB', N'102', N'20515', N'3311')
GO
INSERT [dbo].[Office] ([OfficeID], [Building], [Room], [ZipCode], [ZipSuffix]) VALUES (444, N'CHOB', N'103', N'20515', N'3313')
GO
INSERT [dbo].[Office] ([OfficeID], [Building], [Room], [ZipCode], [ZipSuffix]) VALUES (445, N'CHOB', N'104', N'20515', N'2802')
GO
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

GO
INSERT [dbo].[State] ([StateID], [Code], [Name]) VALUES (1, N'AK', N'Alaska')
GO
INSERT [dbo].[State] ([StateID], [Code], [Name]) VALUES (3, N'AL', N'Alabama')
GO
INSERT [dbo].[State] ([StateID], [Code], [Name]) VALUES (4, N'AR', N'Arkansas')
GO
SET IDENTITY_INSERT [dbo].[State] OFF
GO
ALTER TABLE [dbo].[Committee]  WITH CHECK ADD  CONSTRAINT [FK_Committee_ParentCommittee] FOREIGN KEY([ParentCommitteeID])
REFERENCES [dbo].[Committee] ([CommitteeID])
GO
ALTER TABLE [dbo].[Committee] CHECK CONSTRAINT [FK_Committee_ParentCommittee]
GO
ALTER TABLE [dbo].[CommitteeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_CommitteeAssignment_Committee] FOREIGN KEY([CommitteeID])
REFERENCES [dbo].[Committee] ([CommitteeID])
GO
ALTER TABLE [dbo].[CommitteeAssignment] CHECK CONSTRAINT [FK_CommitteeAssignment_Committee]
GO
ALTER TABLE [dbo].[CommitteeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_CommitteeAssignment_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[CommitteeAssignment] CHECK CONSTRAINT [FK_CommitteeAssignment_Member]
GO
ALTER TABLE [dbo].[CommitteeRatio]  WITH CHECK ADD  CONSTRAINT [FK_CommitteeRatio_Committee] FOREIGN KEY([CommitteeID])
REFERENCES [dbo].[Committee] ([CommitteeID])
GO
ALTER TABLE [dbo].[CommitteeRatio] CHECK CONSTRAINT [FK_CommitteeRatio_Committee]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Office] ([OfficeID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Office]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_State] FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([StateID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_State]
GO
/****** Object:  StoredProcedure [dbo].[Committee_List]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DECLARE @count INT = 0, @fieldName nvarchar(255), @output INT = 0
-- EXEC [dbo].[Committee_List]	
--	 @search		= ''
--	,@pagesize		= 10
--	,@pageNumber	= 1	
--	,@orderby		= 'code desc'
--	,@count			= @count		OUTPUT	
--	,@output		= @output		OUTPUT
--	,@fieldname		= @fieldName	OUTPUT	

--  SELECT @count count, @output status, @fieldName fieldName

CREATE PROCEDURE [dbo].[Committee_List]
(
	@search nvarchar(100) = NULL	
	, @pagesize INT
	, @pagenumber INT
	, @count INT OUTPUT
	, @orderby NVARCHAR(100) = NULL
	, @output SMALLINT OUTPUT
	, @fieldname NVARCHAR(255) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY            
		
		IF OBJECT_ID('tempdb..#temp_user') IS NOT NULL DROP TABLE #temp_user
		
		CREATE TABLE #temp_user
		(
			[Code]	NVARCHAR(50)
			, [Name]	NVARCHAR(50)
			, [Type]	NVARCHAR(50)
			, [Room]	NVARCHAR(50)
			, [HeaderText]	NVARCHAR(500)
			, [ZipCode]	NVARCHAR(50)
			, [ZipSuffix]	NVARCHAR(50)
			, [Phone]	NVARCHAR(50)
			, [BuildingCode]	NVARCHAR(50)
			, [row_num] INT
		)
			
		IF LEN(ISNULL(@orderby, '')) = 0
		SET @orderby = 'code asc'

		DECLARE @Sql nvarchar(MAX) = ''

		SET @Sql = '
		
		SELECT *, ROW_NUMBER() OVER (ORDER BY '+ @orderby +') AS row_num
		FROM
		(
			SELECT 
			c.[Code]
			, c.[Name]
			, c.[Type]
			, c.[Room]
			, c.[HeaderText]
			, c.[ZipCode]
			, c.[ZipSuffix]
			, c.[Phone]
			, c.[BuildingCode]
			FROM [dbo].[Committee] AS c WITH (NOLOCK)
			WHERE 1 = 1'								
			+ CASE WHEN @search IS NULL OR @search = '' THEN '' ELSE
			' AND (u.Code LIKE ''%' + @search + '%'' OR u.Name LIKE ''%' + @search + '%''
			  OR u.Type LIKE ''%' + @search + '%''			  
			  OR u.HeaderText LIKE ''%' + @search + '%''			  
			) '
			 END +
		') data '
		

		INSERT INTO #temp_user
		EXEC sp_executesql
			  @Sql
			, N'@orderby nvarchar(100)'
			, @orderby			= @orderby			
			
		SET @count = @@ROWCOUNT
		
		--PRINT @Sql
		IF @pagesize = -1
		BEGIN
			SELECT 
			c.[Code]
			, c.[Name]
			, c.[Type]
			, c.[Room]
			, c.[HeaderText]
			, c.[ZipCode]
			, c.[ZipSuffix]
			, c.[Phone]
			, c.[BuildingCode] FROM #temp_user c
		END
		ELSE
		BEGIN
			SELECT 
			c.[Code]
			, c.[Name]
			, c.[Type]
			, c.[Room]
			, c.[HeaderText]
			, c.[ZipCode]
			, c.[ZipSuffix]
			, c.[Phone]
			, c.[BuildingCode] FROM #temp_user c
			WHERE row_num BETWEEN ((@pagenumber - 1) * @pagesize) + 1 AND (@pagesize * @pagenumber)			
		END

        SET @output = 1
		SET @fieldname = 'Success'  
              
	END TRY	
	BEGIN CATCH	
		DECLARE @errorReturnMessage nvarchar(MAX)

		SET @output = 0

		SELECT @errorReturnMessage = 
			ISNULL(@errorReturnMessage, '') +  SPACE(1)   + 
			'ErrorNumber:'  + ISNULL(CAST(ERROR_NUMBER() as nvarchar), '')  + 
			'ErrorSeverity:'  + ISNULL(CAST(ERROR_SEVERITY() as nvarchar), '') + 
			'ErrorState:'  + ISNULL(CAST(ERROR_STATE() as nvarchar), '') + 
			'ErrorLine:'  + ISNULL(CAST(ERROR_LINE () as nvarchar), '') + 
			'ErrorProcedure:'  + ISNULL(CAST(ERROR_PROCEDURE() as nvarchar), '') + 
			'ErrorMessage:'  + ISNULL(CAST(ERROR_MESSAGE() as nvarchar(max)), '')
		RAISERROR (@errorReturnMessage, 11, 1)  
 
		IF (XACT_STATE()) = -1  
		BEGIN   
			ROLLBACK TRANSACTION 
		END   
		IF (XACT_STATE()) = 1  
		BEGIN      
			ROLLBACK TRANSACTION  
		END   
		RAISERROR (@errorReturnMessage, 11, 1)   
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Member_List]    Script Date: 9/16/2021 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DECLARE @count INT = 0, @fieldName nvarchar(255), @output INT = 0
-- EXEC [dbo].[Member_List]	
--	 @search		= ''
--	,@pagesize		= 10
--	,@pageNumber	= 1	
--	,@orderby		= 'FirstName desc'
--	,@count			= @count		OUTPUT	
--	,@output		= @output		OUTPUT
--	,@fieldname		= @fieldName	OUTPUT	

--  SELECT @count count, @output status, @fieldName fieldName

CREATE PROCEDURE [dbo].[Member_List]
(
	@search nvarchar(100) = NULL	
	, @pagesize INT
	, @pagenumber INT
	, @count INT OUTPUT
	, @orderby NVARCHAR(100) = NULL
	, @output SMALLINT OUTPUT
	, @fieldname NVARCHAR(255) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY            
		
		IF OBJECT_ID('tempdb..#temp_user') IS NOT NULL DROP TABLE #temp_user
		
		CREATE TABLE #temp_user
		(
			[Suffix] NVARCHAR(50)
			, [FirstName] NVARCHAR(50)
			, [MiddleName] NVARCHAR(50)
			, [LastName] NVARCHAR(50)
			, [BioguideID] NVARCHAR(50)
			, [Party] NVARCHAR(50)
			, [Caucus] NVARCHAR(50)
			, [TownName] NVARCHAR(50)
			, [District] NVARCHAR(50)
			, [Phone] NVARCHAR(50)
			, [ElectedDate] DATE
			, [SwornDate] DATE
			, [row_num] INT
		)
			
		IF LEN(ISNULL(@orderby, '')) = 0
		SET @orderby = 'FirstName asc'

		DECLARE @Sql nvarchar(MAX) = ''

		SET @Sql = '
		
		SELECT *, ROW_NUMBER() OVER (ORDER BY '+ @orderby +') AS row_num
		FROM
		(
			SELECT 
			c.[Suffix]
			, c.[FirstName]
			, c.[MiddleName]
			, c.[LastName]
			, c.[BioguideID]
			, c.[Party]
			, c.[Caucus]
			, c.[TownName]
			, c.[District]
			, c.[Phone]
			, c.[ElectedDate]
			, c.[SwornDate]
			FROM [dbo].[Member] AS c WITH (NOLOCK)
			WHERE 1 = 1'								
			+ CASE WHEN @search IS NULL OR @search = '' THEN '' ELSE
			' AND (u.FirstName LIKE ''%' + @search + '%'' OR u.MiddleName LIKE ''%' + @search + '%''
			  OR u.LastName LIKE ''%' + @search + '%''			  
			  OR u.BioguideID LIKE ''%' + @search + '%''			  
			) '
			 END +
		') data '
		

		INSERT INTO #temp_user
		EXEC sp_executesql
			  @Sql
			, N'@orderby nvarchar(100)'
			, @orderby			= @orderby			
			
		SET @count = @@ROWCOUNT
		
		--PRINT @Sql
		IF @pagesize = -1
		BEGIN
			SELECT 
			c.[Suffix]
			, c.[FirstName]
			, c.[MiddleName]
			, c.[LastName]
			, c.[BioguideID]
			, c.[Party]
			, c.[Caucus]
			, c.[TownName]
			, c.[District]
			, c.[Phone]
			, c.[ElectedDate]
			, c.[SwornDate] FROM #temp_user c
		END
		ELSE
		BEGIN
			SELECT 
			c.[Suffix]
			, c.[FirstName]
			, c.[MiddleName]
			, c.[LastName]
			, c.[BioguideID]
			, c.[Party]
			, c.[Caucus]
			, c.[TownName]
			, c.[District]
			, c.[Phone]
			, c.[ElectedDate]
			, c.[SwornDate] FROM #temp_user c
			WHERE row_num BETWEEN ((@pagenumber - 1) * @pagesize) + 1 AND (@pagesize * @pagenumber)			
		END

        SET @output = 1
		SET @fieldname = 'Success'  
              
	END TRY	
	BEGIN CATCH	
		DECLARE @errorReturnMessage nvarchar(MAX)

		SET @output = 0

		SELECT @errorReturnMessage = 
			ISNULL(@errorReturnMessage, '') +  SPACE(1)   + 
			'ErrorNumber:'  + ISNULL(CAST(ERROR_NUMBER() as nvarchar), '')  + 
			'ErrorSeverity:'  + ISNULL(CAST(ERROR_SEVERITY() as nvarchar), '') + 
			'ErrorState:'  + ISNULL(CAST(ERROR_STATE() as nvarchar), '') + 
			'ErrorLine:'  + ISNULL(CAST(ERROR_LINE () as nvarchar), '') + 
			'ErrorProcedure:'  + ISNULL(CAST(ERROR_PROCEDURE() as nvarchar), '') + 
			'ErrorMessage:'  + ISNULL(CAST(ERROR_MESSAGE() as nvarchar(max)), '')
		RAISERROR (@errorReturnMessage, 11, 1)  
 
		IF (XACT_STATE()) = -1  
		BEGIN   
			ROLLBACK TRANSACTION 
		END   
		IF (XACT_STATE()) = 1  
		BEGIN      
			ROLLBACK TRANSACTION  
		END   
		RAISERROR (@errorReturnMessage, 11, 1)   
	END CATCH
END
GO
USE [master]
GO
